# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/
.env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data & model artifacts
*.npy
*.pkl
*.pth
*.pt
*.h5
*.hdf5
*.ckpt
*.onnx


# Logs & plots
*.log
*.png
*.pdf
*.svg

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Large local packet captures
ung-review/backup-training-data/
